In [1]:
import pandas as pd
import numpy as np
from functools import reduce
#from IPython.display import display
#pd.options.display.max_columns = None
#pd.options.display.max_rows = None

# Reading school data
dataEl_2012 = pd.read_csv('data/school/elementary_2012_13.csv', encoding='utf-8')
dataEl_2013 = pd.read_csv('data/school/elementary_2013_14.csv', encoding='utf-8')
dataEl_2014 = pd.read_csv('data/school/elementary_2014_15.csv', encoding='utf-8')
dataEl_2015 = pd.read_csv('data/school/elementary_2015_16.csv', encoding='utf-8')

# Elementary school appended dataframe

In [2]:
dataSchoolCom = dataEl_2015.append([dataEl_2014,dataEl_2013,dataEl_2012], sort=False)
#dataSchoolCom = dataSchoolCom.fillna(method = 'bfill', axis=0).fillna(0)
dataSchoolCom = dataSchoolCom.fillna(dataSchoolCom.mean())
dataSchoolCom.replace('ORISSA','ODISHA',inplace=True)
dataSchoolCom.replace('JAMMU AND KASHMIR','JAMMU & KASHMIR',inplace=True)
dataSchoolCom.replace('DELHI','NCT OF DELHI',inplace=True)
dataSchoolCom.replace('ANDAMAN AND NICOBAR ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
dataSchoolCom.replace('DAMAN AND DIU','DAMAN & DIU',inplace=True)
dataSchoolCom.replace('D AND N HAVELI','DADRA & NAGAR HAVELI',inplace=True)
dataSchoolCom.replace('A AND N ISLANDS','ANDAMAN & NICOBAR ISLANDS',inplace=True)
dataSchoolCom.replace('PONDICHERRY','PUDUCHERRY',inplace=True)
dataSchoolCom.head()

,Unnamed: 0,STATE NAME,DISTRICT NAME,YEAR,TOTAL POULATION,PERCENTAGE URBAN POPULATION,0-6 POPULATION,GROWTH RATE,SEX RATIO,PERCENTAGE SC POPULATION,...,PRIMARY WITH UPPER PRIMARY (TRN_TCH_F2),PRIMARY WITH UPPER PRIMARY SEC AND HIGHER SEC. (TRN_TCH_F3),UPPER PRIMARY ONLY (TRN_TCH_F4),UPPER PRIMARY WITH SEC. AND HIGHER SEC. (TRN_TCH_F5),PRIMARY WITH UPPER PRIMARY SEC (TRN_TCH_F6),UPPER PRIMARY SEC (TRN_TCH_F7),REGULAR TCH (PROF_TRN_TCH_R),CONTRACT TCH (PROF_TRN_TCH_P),NO. OF DAYS INVOLVED (DAYS_NONTCH),NO. OF TEACHERS INVOLVED (TCH_NONTCH)
0,0,JAMMU & KASHMIR,KUPWARA,2015-16,875564.0,11.33,197001.90,34.62,843.0,0.12,...,419.463746,30.247734,72.720544,93.587613,15.41994,37.042296,8085.361027,427.903323,18.601208,608.087613
1,1,JAMMU & KASHMIR,BARAMULA,2015-16,1015503.0,17.19,161871.18,20.34,873.0,0.15,...,419.463746,30.247734,72.720544,93.587613,15.41994,37.042296,8085.361027,427.903323,18.601208,608.087613
2,2,JAMMU & KASHMIR,SRINAGAR,2015-16,1269751.0,98.73,155798.45,23.56,879.0,0.09,...,419.463746,30.247734,72.720544,93.587613,15.41994,37.042296,8085.361027,427.903323,18.601208,608.087613
3,3,JAMMU & KASHMIR,BADGAM,2015-16,735753.0,11.74,150755.79,21.18,883.0,0.05,...,419.463746,30.247734,72.720544,93.587613,15.41994,37.042296,8085.361027,427.903323,18.601208,608.087613
4,4,JAMMU & KASHMIR,PULWAMA,2015-16,570060.0,13.80,97651.28,29.18,913.0,0.07,...,419.463746,30.247734,72.720544,93.587613,15.41994,37.042296,8085.361027,427.903323,18.601208,608.087613

# School data methods

In [3]:
geography = pd.read_csv('data/geography.csv',encoding='UTF-8')
geo = geography[['geo_level','geo_code','name']]

# Calculating country data
def setCountryData(df,cols):
    for x in cols:
         df.loc[df['geo_level'] == 'country', x]= df.loc[df['geo_level'] == 'state', x].sum()
    return df;

def getGeoData(df):
    cols = list(df.columns.values)[2:]
    df = df.replace(',','',regex=True)
    df[cols] = df[cols].astype(float)
    df = df.rename(index=str, columns={'STATE NAME': 'name'})
    dfState = df.groupby(['name'])[cols].sum().reset_index()
   
    dfDis   = df.groupby(['DISTRICT NAME'])[cols].sum().reset_index()
    dfDis   = dfDis.rename(index=str, columns={'DISTRICT NAME': 'name'})
    dfDis['name'] = dfDis['name'].str.title()
    
    dfCom = pd.concat([dfState, dfDis])
    dfgeo = geo.merge(dfCom ,on=['name'],how='left')
    dfgeo = dfgeo.sort_values(by=['geo_level','name'])
    dfgeo = dfgeo.fillna(method = 'bfill', axis=0).fillna(0)
    dfgeoCountry = setCountryData(dfgeo,cols)
    return dfgeoCountry

# Manipulating school data
def getSchoolGeo(df,varname):
    df.columns = df.columns.str.split('(').str[0]
    df.columns = [varname + str(col) for col in df]
    statecols = varname + 'STATE NAME'
    discols   = varname + 'DISTRICT NAME'
    df      = df.rename(index=str, columns={statecols:'STATE NAME',discols:'DISTRICT NAME'})
    dfgeo   = getGeoData(df)
    return dfgeo

def getSchoolWazi(df1,df2):
    dfcom     = [df1,df2]
    dfcomgeo  = reduce(lambda left,right: pd.merge(left,right, on=['geo_level','geo_code','name']),dfcom)
    dfcomwazi = pd.melt(dfcomgeo, id_vars=['geo_level', 'geo_code','name'], var_name='schooltemp', value_name="total")
    dfcomwazi.insert(2,'geo_version','2011')
    dfcomwazi['total']  = dfcomwazi['total'].astype(int)
    return dfcomwazi

# Schools by category 2015

In [4]:
schooldata2013  =  dataSchoolCom.loc[dataSchoolCom['YEAR'] == '2013-14']
schooldata2015  =  dataSchoolCom.loc[dataSchoolCom['YEAR'] == '2015-16']
schoolgov2015df =  schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCH1G)','PRIMARY WITH UPPER PRIMARY (SCH2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3G)','UPPER PRIMARY ONLY (SCH4G)','UPPER PRIMARY WITH SEC./H.SEC (SCH5G)','PRIMARY WITH UPPER PRIMARY SEC (SCH6G)','UPPER PRIMARY WITH  SEC. (SCH7G)']]
schoolpvt2015df =  schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCH1P)','PRIMARY WITH UPPER PRIMARY (SCH2P)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3P)','UPPER PRIMARY ONLY (SCH4P)','UPPER PRIMARY WITH SEC./H.SEC (SCH5P)','PRIMARY WITH UPPER PRIMARY SEC (SCH6P)','UPPER PRIMARY WITH  SEC. (SCH7P)']]

Schoolsgov2015geo = getSchoolGeo(schoolgov2015df,'School_Government_2015_')
Schoolspvt2015geo = getSchoolGeo(schoolpvt2015df,'School_Private_2015_')

SchoolComwazi2015 = getSchoolWazi(Schoolsgov2015geo,Schoolspvt2015geo)
SchoolComwazi2015.insert(4,'schools',SchoolComwazi2015['schooltemp'].str.split('_').str[3].str.title())
SchoolComwazi2015.insert(5,'type',SchoolComwazi2015['schooltemp'].str.split('_').str[1])
#SchoolComwazi2015.insert(6,'year','2015')

School2015 = SchoolComwazi2015.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
School2015['geo_version'] = '2011'
School2015.head()
#School2015.to_csv('data/schools_by_type_2015.csv', index=False)

,geo_level,geo_code,geo_version,schools,type,total
0,country,IN,2011,Primary Only,Government,708642
1,country,IN,2011,Primary With Upper Primary,Government,172607
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Government,12628
3,country,IN,2011,Upper Primary Only,Government,119634
4,country,IN,2011,Upper Primary With Sec./H.Sec,Government,19570

# Schools by category 2014

In [5]:
schooldata2014  =  dataSchoolCom.loc[dataSchoolCom['YEAR'] == '2014-15']

schoolgov2014df =  schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCH1G)','PRIMARY WITH UPPER PRIMARY (SCH2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3G)','UPPER PRIMARY ONLY (SCH4G)','UPPER PRIMARY WITH SEC./H.SEC (SCH5G)','PRIMARY WITH UPPER PRIMARY SEC (SCH6G)','UPPER PRIMARY WITH  SEC. (SCH7G)']]
schoolpvt2014df =  schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCH1P)','PRIMARY WITH UPPER PRIMARY (SCH2P)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3P)','UPPER PRIMARY ONLY (SCH4P)','UPPER PRIMARY WITH SEC./H.SEC (SCH5P)','PRIMARY WITH UPPER PRIMARY SEC (SCH6P)','UPPER PRIMARY WITH  SEC. (SCH7P)']]

Schoolsgov2014geo = getSchoolGeo(schoolgov2014df,'School_Government_2014_')
Schoolspvt2014geo = getSchoolGeo(schoolpvt2014df,'School_Private_2014_')

SchoolComwazi2014 = getSchoolWazi(Schoolsgov2014geo,Schoolspvt2014geo)
SchoolComwazi2014.insert(4,'schools',SchoolComwazi2014['schooltemp'].str.split('_').str[3].str.title())
SchoolComwazi2014.insert(5,'type',SchoolComwazi2014['schooltemp'].str.split('_').str[1])
#SchoolComwazi2014.insert(6,'year','2014')

School2014 = SchoolComwazi2014.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
School2014['geo_version'] = '2014'
School2014.head()
#School2014.to_csv('data/schools_by_type_2014.csv', index=False)

,geo_level,geo_code,geo_version,schools,type,total
0,country,IN,2014,Primary Only,Government,712767
1,country,IN,2014,Primary With Upper Primary,Government,172757
2,country,IN,2014,Primary With Upper Primary Sec/H.Sec,Government,8716
3,country,IN,2014,Upper Primary Only,Government,120145
4,country,IN,2014,Upper Primary With Sec./H.Sec,Government,22081

# Schools by category combined test

In [8]:
schoolFinal = School2015.append(School2014)
schoolFinal.head()
#schoolFinal.to_csv('data/schooltest.csv', index=False)

,geo_level,geo_code,geo_version,schools,type,total
0,country,IN,2011,Primary Only,Government,708642
1,country,IN,2011,Primary With Upper Primary,Government,172607
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Government,12628
3,country,IN,2011,Upper Primary Only,Government,119634
4,country,IN,2011,Upper Primary With Sec./H.Sec,Government,19570

# Schools by category 2013

In [28]:
schoolgov2013df =  schooldata2013[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCH1G)','PRIMARY WITH UPPER PRIMARY (SCH2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3G)','UPPER PRIMARY ONLY (SCH4G)','UPPER PRIMARY WITH SEC./H.SEC (SCH5G)','PRIMARY WITH UPPER PRIMARY SEC (SCH6G)','UPPER PRIMARY WITH  SEC. (SCH7G)']]
schoolpvt2013df =  schooldata2013[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCH1P)','PRIMARY WITH UPPER PRIMARY (SCH2P)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3P)','UPPER PRIMARY ONLY (SCH4P)','UPPER PRIMARY WITH SEC./H.SEC (SCH5P)','PRIMARY WITH UPPER PRIMARY SEC (SCH6P)','UPPER PRIMARY WITH  SEC. (SCH7P)']]

Schoolsgov2013geo = getSchoolGeo(schoolgov2013df,'School_Government_2013_')
Schoolspvt2013geo = getSchoolGeo(schoolpvt2013df,'School_Private_2013_')

SchoolComwazi2013 = getSchoolWazi(Schoolsgov2013geo,Schoolspvt2013geo)
SchoolComwazi2013.insert(4,'schools',SchoolComwazi2013['schooltemp'].str.split('_').str[3].str.title())
SchoolComwazi2013.insert(5,'type',SchoolComwazi2013['schooltemp'].str.split('_').str[1])
SchoolComwazi2013.insert(6,'year','2013')

School2013 = SchoolComwazi2013.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
School2013.head()
#School2013.to_csv('data/schools_by_type_2013.csv', index=False)

,geo_level,geo_code,geo_version,schools,type,year,total
0,country,IN,2011,Primary Only,Government,2013,674222
1,country,IN,2011,Primary With Upper Primary,Government,2013,163902
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Government,2013,10123
3,country,IN,2011,Upper Primary Only,Government,2013,113683
4,country,IN,2011,Upper Primary With Sec./H.Sec,Government,2013,19752

# Schools by gender boys/girls 2015

In [6]:
schoolboys2015df  = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCHBOY1)','PRIMARY WITH UPPER PRIMARY (SCHBOY2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCHBOY3)','UPPER PRIMARY ONLY (SCHBOY4)','UPPER PRIMARY WITH SEC./H.SEC (SCHBOY5)','PRIMARY WITH UPPER PRIMARY SEC (SCHBOY6)','UPPER PRIMARY WITH  SEC. (SCHBOY7)']]
schoolgirls2015df = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCHGIR1)','PRIMARY WITH UPPER PRIMARY (SCHGIR2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCHGIR3)','UPPER PRIMARY ONLY (SCHGIR4)','UPPER PRIMARY WITH SEC./H.SEC (SCHGIR5)','PRIMARY WITH UPPER PRIMARY SEC (SCHGIR6)','UPPER PRIMARY WITH  SEC. (SCHGIR7)']]

Schoolboys2015geo  = getSchoolGeo(schoolboys2015df,'School_Boys_2015_')
Schoolgirls2015geo = getSchoolGeo(schoolgirls2015df,'School_Girls_2015_')

Schoolbygenwazi2015 =  getSchoolWazi(Schoolboys2015geo,Schoolgirls2015geo)
Schoolbygenwazi2015.insert(4,'schools',Schoolbygenwazi2015['schooltemp'].str.split('_').str[3].str.title())
Schoolbygenwazi2015.insert(5,'gender',Schoolbygenwazi2015['schooltemp'].str.split('_').str[1])
Schoolbygenwazi2015.insert(6,'year','2015')
Schoolbygenwazi2015df= Schoolbygenwazi2015.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
Schoolbygenwazi2015df.head()
#Schoolbygenwazi2015df.to_csv('data/schools_by_gender_2015.csv', index=False)

,geo_level,geo_code,geo_version,schools,gender,year,total
0,country,IN,2011,Primary Only,Boys,2015,832505
1,country,IN,2011,Primary With Upper Primary,Boys,2015,278088
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Boys,2015,40088
3,country,IN,2011,Upper Primary Only,Boys,2015,140800
4,country,IN,2011,Upper Primary With Sec./H.Sec,Boys,2015,31669

# Schools by gender boys/girls 2014

In [7]:
schoolboys2014df  = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCHBOY1)','PRIMARY WITH UPPER PRIMARY (SCHBOY2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCHBOY3)','UPPER PRIMARY ONLY (SCHBOY4)','UPPER PRIMARY WITH SEC./H.SEC (SCHBOY5)','PRIMARY WITH UPPER PRIMARY SEC (SCHBOY6)','UPPER PRIMARY WITH  SEC. (SCHBOY7)']]
schoolgirls2014df = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCHGIR1)','PRIMARY WITH UPPER PRIMARY (SCHGIR2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCHGIR3)','UPPER PRIMARY ONLY (SCHGIR4)','UPPER PRIMARY WITH SEC./H.SEC (SCHGIR5)','PRIMARY WITH UPPER PRIMARY SEC (SCHGIR6)','UPPER PRIMARY WITH  SEC. (SCHGIR7)']]

Schoolboys2014geo  = getSchoolGeo(schoolboys2014df,'School_Boys_2014_')
Schoolgirls2014geo = getSchoolGeo(schoolgirls2014df,'School_Girls_2014_')

Schoolbygenwazi2014 =  getSchoolWazi(Schoolboys2014geo,Schoolgirls2014geo)
Schoolbygenwazi2014.insert(4,'schools',Schoolbygenwazi2014['schooltemp'].str.split('_').str[3].str.title())
Schoolbygenwazi2014.insert(5,'gender',Schoolbygenwazi2014['schooltemp'].str.split('_').str[1])
Schoolbygenwazi2014.insert(6,'year','2014')
Schoolbygenwazi2014df= Schoolbygenwazi2014.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
Schoolbygenwazi2014df.head()
#Schoolbygenwazi2014df.to_csv('data/schools_by_gender_2014.csv', index=False)

,geo_level,geo_code,geo_version,schools,gender,year,total
0,country,IN,2011,Primary Only,Boys,2014,838451
1,country,IN,2011,Primary With Upper Primary,Boys,2014,273585
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Boys,2014,36367
3,country,IN,2011,Upper Primary Only,Boys,2014,140372
4,country,IN,2011,Upper Primary With Sec./H.Sec,Boys,2014,34439

# Schools by gender boys/girls 2013

In [31]:
schoolboys2013df  = schooldata2013[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCHBOY1)','PRIMARY WITH UPPER PRIMARY (SCHBOY2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCHBOY3)','UPPER PRIMARY ONLY (SCHBOY4)','UPPER PRIMARY WITH SEC./H.SEC (SCHBOY5)','PRIMARY WITH UPPER PRIMARY SEC (SCHBOY6)','UPPER PRIMARY WITH  SEC. (SCHBOY7)']]
schoolgirls2013df = schooldata2013[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SCHGIR1)','PRIMARY WITH UPPER PRIMARY (SCHGIR2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCHGIR3)','UPPER PRIMARY ONLY (SCHGIR4)','UPPER PRIMARY WITH SEC./H.SEC (SCHGIR5)','PRIMARY WITH UPPER PRIMARY SEC (SCHGIR6)','UPPER PRIMARY WITH  SEC. (SCHGIR7)']]

Schoolboys2013geo  = getSchoolGeo(schoolboys2013df,'School_Boys_2013_')
Schoolgirls2013geo = getSchoolGeo(schoolgirls2013df,'School_Girls_2013_')

Schoolbygenwazi2013 =  getSchoolWazi(Schoolboys2013geo,Schoolgirls2013geo)
Schoolbygenwazi2013.insert(4,'schools',Schoolbygenwazi2013['schooltemp'].str.split('_').str[3].str.title())
Schoolbygenwazi2013.insert(5,'gender',Schoolbygenwazi2013['schooltemp'].str.split('_').str[1])
Schoolbygenwazi2013.insert(6,'year','2013')
Schoolbygenwazi2013df= Schoolbygenwazi2013.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
Schoolbygenwazi2013df.head()
#Schoolbygenwazi2013df.to_csv('data/schools_by_gender_2013.csv', index=False)

,geo_level,geo_code,geo_version,schools,gender,year,total
0,country,IN,2011,Primary Only,Boys,2013,792586
1,country,IN,2011,Primary With Upper Primary,Boys,2013,261754
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Boys,2013,36258
3,country,IN,2011,Upper Primary Only,Boys,2013,133316
4,country,IN,2011,Upper Primary With Sec./H.Sec,Boys,2013,31350

# Students enrolment by school category 2015

In [8]:
studentsenrolgov2015 = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (ENR1G)','PRIMARY WITH UPPER PRIMARY (ENR2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3G)','UPPER PRIMARY ONLY (ENR4G)','UPPER PRIMARY WITH SEC./H.SEC (ENR5G)','PRIMARY WITH UPPER PRIMARY SEC (ENR6G)','UPPER PRIMARY WITH  SEC. (ENR7G)']]
studentsenrolpvt2015 = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (ENR1P)','PRIMARY WITH UPPER PRIMARY (ENR2P)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3P)','UPPER PRIMARY ONLY (ENR4P)','UPPER PRIMARY WITH SEC./H.SEC (ENR5P)','PRIMARY WITH UPPER PRIMARY SEC (ENR6P)','UPPER PRIMARY WITH  SEC. (ENR7P)']]

Studentsengov2015geo  = getSchoolGeo(studentsenrolgov2015,'Studentsenrol_Government_2015_')
Studentsenpvt2015geo  = getSchoolGeo(studentsenrolpvt2015,'Studentsenrol_Private_2015_')

Studentsenwazi2015    =  getSchoolWazi(Studentsengov2015geo,Studentsenpvt2015geo)
Studentsenwazi2015.insert(4,'studentsenrol',Studentsenwazi2015['schooltemp'].str.split('_').str[3].str.title())
Studentsenwazi2015.insert(5,'type',Studentsenwazi2015['schooltemp'].str.split('_').str[1])
Studentsenwazi2015.insert(6,'year','2015')
Studentsenwazi2015df= Studentsenwazi2015.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
Studentsenwazi2015df.head()
#Studentsenwazi2015df.to_csv('data/studentsenrol_type_2015.csv', index=False)

,geo_level,geo_code,geo_version,studentsenrol,type,year,total
0,country,IN,2011,Primary Only,Government,2015,51596535
1,country,IN,2011,Primary With Upper Primary,Government,2015,35644165
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Government,2015,3894845
3,country,IN,2011,Upper Primary Only,Government,2015,10808578
4,country,IN,2011,Upper Primary With Sec./H.Sec,Government,2015,6504595

# Students enrolment by school category 2014

In [9]:
studentsenrolgov2014 = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (ENR1G)','PRIMARY WITH UPPER PRIMARY (ENR2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3G)','UPPER PRIMARY ONLY (ENR4G)','UPPER PRIMARY WITH SEC./H.SEC (ENR5G)','PRIMARY WITH UPPER PRIMARY SEC (ENR6G)','UPPER PRIMARY WITH  SEC. (ENR7G)']]
studentsenrolpvt2014 = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (ENR1P)','PRIMARY WITH UPPER PRIMARY (ENR2P)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3P)','UPPER PRIMARY ONLY (ENR4P)','UPPER PRIMARY WITH SEC./H.SEC (ENR5P)','PRIMARY WITH UPPER PRIMARY SEC (ENR6P)','UPPER PRIMARY WITH  SEC. (ENR7P)']]

Studentsengov2014geo  = getSchoolGeo(studentsenrolgov2014,'Studentsenrol_Government_2014_')
Studentsenpvt2014geo  = getSchoolGeo(studentsenrolpvt2014,'Studentsenrol_Private_2014_')

Studentsenwazi2014    =  getSchoolWazi(Studentsengov2014geo,Studentsenpvt2014geo)
Studentsenwazi2014.insert(4,'studentsenrol',Studentsenwazi2014['schooltemp'].str.split('_').str[3].str.title())
Studentsenwazi2014.insert(5,'type',Studentsenwazi2014['schooltemp'].str.split('_').str[1])
Studentsenwazi2014.insert(6,'year','2014')
Studentsenwazi2014df= Studentsenwazi2014.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
Studentsenwazi2014df.head()
#Studentsenwazi2014df.to_csv('data/studentsenrol_type_2014.csv', index=False)

,geo_level,geo_code,geo_version,studentsenrol,type,year,total
0,country,IN,2011,Primary Only,Government,2014,53616697
1,country,IN,2011,Primary With Upper Primary,Government,2014,35480727
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Government,2014,3039479
3,country,IN,2011,Upper Primary Only,Government,2014,11252734
4,country,IN,2011,Upper Primary With Sec./H.Sec,Government,2014,6914053

# Students enrolment by school category 2013

In [34]:
studentsenrolgov2013 = schooldata2013[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (ENR1G)','PRIMARY WITH UPPER PRIMARY (ENR2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3G)','UPPER PRIMARY ONLY (ENR4G)','UPPER PRIMARY WITH SEC./H.SEC (ENR5G)','PRIMARY WITH UPPER PRIMARY SEC (ENR6G)','UPPER PRIMARY WITH  SEC. (ENR7G)']]
studentsenrolpvt2013 = schooldata2013[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (ENR1P)','PRIMARY WITH UPPER PRIMARY (ENR2P)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3P)','UPPER PRIMARY ONLY (ENR4P)','UPPER PRIMARY WITH SEC./H.SEC (ENR5P)','PRIMARY WITH UPPER PRIMARY SEC (ENR6P)','UPPER PRIMARY WITH  SEC. (ENR7P)']]

Studentsengov2013geo  = getSchoolGeo(studentsenrolgov2013,'Studentsenrol_Government_2013_')
Studentsenpvt2013geo  = getSchoolGeo(studentsenrolpvt2013,'Studentsenrol_Private_2013_')

Studentsenwazi2013    =  getSchoolWazi(Studentsengov2013geo,Studentsenpvt2013geo)
Studentsenwazi2013.insert(4,'studentsenrol',Studentsenwazi2013['schooltemp'].str.split('_').str[3].str.title())
Studentsenwazi2013.insert(5,'type',Studentsenwazi2013['schooltemp'].str.split('_').str[1])
Studentsenwazi2013.insert(6,'year','2013')
Studentsenwazi2013df= Studentsenwazi2013.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
Studentsenwazi2013df.head()
#Studentsenwazi2013df.to_csv('data/studentsenrol_type_2013.csv', index=False)

,geo_level,geo_code,geo_version,studentsenrol,type,year,total
0,country,IN,2011,Primary Only,Government,2013,49897622
1,country,IN,2011,Primary With Upper Primary,Government,2013,33763587
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Government,2013,3289365
3,country,IN,2011,Upper Primary Only,Government,2013,10457760
4,country,IN,2011,Upper Primary With Sec./H.Sec,Government,2013,6363931

# Teachers by school category 2015

In [10]:
teachersgov2015 = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TCH1G)','PRIMARY WITH UPPER PRIMARY (TCH2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH3G)','UPPER PRIMARY ONLY (TCH4G)','UPPER PRIMARY WITH SEC./H.SEC (TCH5G)','PRIMARY WITH UPPER PRIMARY SEC (TCH6G)','UPPER PRIMARY WITH  SEC. (TCH7G)']]
teacherspvt2015 = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TCH1P)','PRIMARY WITH UPPER PRIMARY (TCH2P)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH3P)','UPPER PRIMARY ONLY (TCH4P)','UPPER PRIMARY WITH SEC./H.SEC (TCH5P)','PRIMARY WITH UPPER PRIMARY SEC (TCH6P)','UPPER PRIMARY WITH  SEC. (TCH7P)']]

teachersgov2015geo  = getSchoolGeo(teachersgov2015,'Teachers_Government_2015_')
teacherspvt2015geo  = getSchoolGeo(teacherspvt2015,'Teachers_Private_2015_')

teacherswazi2015    =  getSchoolWazi(teachersgov2015geo,teacherspvt2015geo)
teacherswazi2015.insert(4,'teachers',teacherswazi2015['schooltemp'].str.split('_').str[3].str.title())
teacherswazi2015.insert(5,'type',teacherswazi2015['schooltemp'].str.split('_').str[1])
teacherswazi2015.insert(6,'year','2015')
teacherswazi2015df= teacherswazi2015.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
teacherswazi2015df.head()
#teacherswazi2015df.to_csv('data/teachers_type_2015.csv', index=False)

,geo_level,geo_code,geo_version,teachers,type,year,total
0,country,IN,2011,Primary Only,Government,2015,1941226
1,country,IN,2011,Primary With Upper Primary,Government,2015,1114863
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Government,2015,229340
3,country,IN,2011,Upper Primary Only,Government,2015,437705
4,country,IN,2011,Upper Primary With Sec./H.Sec,Government,2015,456013

# Teachers by school category 2014

In [11]:
teachersgov2014 = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TCH1G)','PRIMARY WITH UPPER PRIMARY (TCH2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH3G)','UPPER PRIMARY ONLY (TCH4G)','UPPER PRIMARY WITH SEC./H.SEC (TCH5G)','PRIMARY WITH UPPER PRIMARY SEC (TCH6G)','UPPER PRIMARY WITH  SEC. (TCH7G)']]
teacherspvt2014 = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TCH1P)','PRIMARY WITH UPPER PRIMARY (TCH2P)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH3P)','UPPER PRIMARY ONLY (TCH4P)','UPPER PRIMARY WITH SEC./H.SEC (TCH5P)','PRIMARY WITH UPPER PRIMARY SEC (TCH6P)','UPPER PRIMARY WITH  SEC. (TCH7P)']]

teachersgov2014geo  = getSchoolGeo(teachersgov2014,'Teachers_Government_2014_')
teacherspvt2014geo  = getSchoolGeo(teacherspvt2014,'Teachers_Private_2014_')

teacherswazi2014    =  getSchoolWazi(teachersgov2014geo,teacherspvt2014geo)
teacherswazi2014.insert(4,'teachers',teacherswazi2014['schooltemp'].str.split('_').str[3].str.title())
teacherswazi2014.insert(5,'type',teacherswazi2014['schooltemp'].str.split('_').str[1])
teacherswazi2014.insert(6,'year','2014')
teacherswazi2014df= teacherswazi2014.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
teacherswazi2014df.head()
#teacherswazi2014df.to_csv('data/teachers_type_2014.csv', index=False)

,geo_level,geo_code,geo_version,teachers,type,year,total
0,country,IN,2011,Primary Only,Government,2014,1988318
1,country,IN,2011,Primary With Upper Primary,Government,2014,1125943
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Government,2014,181965
3,country,IN,2011,Upper Primary Only,Government,2014,424646
4,country,IN,2011,Upper Primary With Sec./H.Sec,Government,2014,482758

# Teachers by gender 2015

In [12]:
teachersfemale2015 = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TCHF1)','PRIMARY WITH UPPER PRIMARY (TCHF2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHF3)','UPPER PRIMARY ONLY (TCHF4)','UPPER PRIMARY WITH SEC./H.SEC (TCHF5)','PRIMARY WITH UPPER PRIMARY SEC (TCHF6)','UPPER PRIMARY WITH  SEC. (TCHF7)']]
teachersmale2015 = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TCHM1)','PRIMARY WITH UPPER PRIMARY (TCHM2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHM3)','UPPER PRIMARY ONLY (TCHM4)','UPPER PRIMARY WITH SEC./H.SEC (TCHM5)','PRIMARY WITH UPPER PRIMARY SEC (TCHM6)','UPPER PRIMARY WITH  SEC. (TCHM7)']]

teachersfemale2015geo  = getSchoolGeo(teachersfemale2015,'Teachers_Female_2015_')
teachersmale2015geo  = getSchoolGeo(teachersmale2015,'Teachers_male_2015_')

teachersgenderwazi2015    =  getSchoolWazi(teachersfemale2015geo,teachersmale2015geo)
teachersgenderwazi2015.insert(4,'teachers',teachersgenderwazi2015['schooltemp'].str.split('_').str[3].str.title())
teachersgenderwazi2015.insert(5,'gender',teachersgenderwazi2015['schooltemp'].str.split('_').str[1])
teachersgenderwazi2015.insert(6,'year','2015')
teachersgenderwazi2015df= teachersgenderwazi2015.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
teachersgenderwazi2015df.head()
#teachersgenderwazi2015df.to_csv('data/teachers_gender_2015.csv', index=False)

,geo_level,geo_code,geo_version,teachers,gender,year,total
0,country,IN,2011,Primary Only,Female,2015,1231720
1,country,IN,2011,Primary With Upper Primary,Female,2015,1002520
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Female,2015,545545
3,country,IN,2011,Upper Primary Only,Female,2015,196620
4,country,IN,2011,Upper Primary With Sec./H.Sec,Female,2015,312336

# Teachers by gender 2014

In [13]:
teachersfemale2014 = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TCHF1)','PRIMARY WITH UPPER PRIMARY (TCHF2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHF3)','UPPER PRIMARY ONLY (TCHF4)','UPPER PRIMARY WITH SEC./H.SEC (TCHF5)','PRIMARY WITH UPPER PRIMARY SEC (TCHF6)','UPPER PRIMARY WITH  SEC. (TCHF7)']]
teachersmale2014   = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TCHM1)','PRIMARY WITH UPPER PRIMARY (TCHM2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHM3)','UPPER PRIMARY ONLY (TCHM4)','UPPER PRIMARY WITH SEC./H.SEC (TCHM5)','PRIMARY WITH UPPER PRIMARY SEC (TCHM6)','UPPER PRIMARY WITH  SEC. (TCHM7)']]

teachersfemale2014geo  = getSchoolGeo(teachersfemale2014,'Teachers_Female_2014_')
teachersmale2014geo  = getSchoolGeo(teachersmale2014,'Teachers_male_2014_')

teachersgenderwazi2014    =  getSchoolWazi(teachersfemale2014geo,teachersmale2014geo)
teachersgenderwazi2014.insert(4,'teachers',teachersgenderwazi2014['schooltemp'].str.split('_').str[3].str.title())
teachersgenderwazi2014.insert(5,'gender',teachersgenderwazi2014['schooltemp'].str.split('_').str[1])
teachersgenderwazi2014.insert(6,'year','2014')
teachersgenderwazi2014df= teachersgenderwazi2014.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
teachersgenderwazi2014df.head()
#teachersgenderwazi2014df.to_csv('data/teachers_gender_2014.csv', index=False)

,geo_level,geo_code,geo_version,teachers,gender,year,total
0,country,IN,2011,Primary Only,Female,2014,1260992
1,country,IN,2011,Primary With Upper Primary,Female,2014,982665
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Female,2014,528269
3,country,IN,2011,Upper Primary Only,Female,2014,186429
4,country,IN,2011,Upper Primary With Sec./H.Sec,Female,2014,334104

# Schools with toilet facilities 2015

In [14]:
toiletgirls2015 = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SGTOIL1)','PRIMARY WITH UPPER PRIMARY (SGTOIL2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SGTOIL3)','UPPER PRIMARY ONLY (SGTOIL4)','UPPER PRIMARY WITH SEC./H.SEC (SGTOIL5)','PRIMARY WITH UPPER PRIMARY SEC (SGTOIL6)','UPPER PRIMARY WITH  SEC. (SGTOIL7)']]
toiletboys2015  = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SBTOIL1)','PRIMARY WITH UPPER PRIMARY (SBTOIL2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SBTOIL3)','UPPER PRIMARY ONLY (SBTOIL4)','UPPER PRIMARY WITH SEC./H.SEC (SBTOIL5)','PRIMARY WITH UPPER PRIMARY SEC (SBTOIL6)','UPPER PRIMARY WITH  SEC. (SBTOIL7)']]

toiletgirls2015geo  = getSchoolGeo(toiletgirls2015,'Toilet_girls_2015_')
toiletboys2015geo   = getSchoolGeo(toiletboys2015,'Toilet_boys_2015_')

toiletwazi2015      =  getSchoolWazi(toiletgirls2015geo,toiletboys2015geo)
toiletwazi2015.insert(4,'schooltoilet',toiletwazi2015['schooltemp'].str.split('_').str[3].str.title())
toiletwazi2015.insert(5,'gender',toiletwazi2015['schooltemp'].str.split('_').str[1])
toiletwazi2015.insert(6,'year','2015')
toiletwazi2015df= toiletwazi2015.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
toiletwazi2015df.head()
#toiletwazi2015df.to_csv('data/schooltoilet_by_gender_2015.csv', index=False)

,geo_level,geo_code,geo_version,schooltoilet,gender,year,total
0,country,IN,2011,Primary Only,girls,2015,808547
1,country,IN,2011,Primary With Upper Primary,girls,2015,276820
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,girls,2015,40597
3,country,IN,2011,Upper Primary Only,girls,2015,140166
4,country,IN,2011,Upper Primary With Sec./H.Sec,girls,2015,33385

# Schools with toilet facilities 2014

In [15]:
toiletgirls2014 = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SGTOIL1)','PRIMARY WITH UPPER PRIMARY (SGTOIL2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SGTOIL3)','UPPER PRIMARY ONLY (SGTOIL4)','UPPER PRIMARY WITH SEC./H.SEC (SGTOIL5)','PRIMARY WITH UPPER PRIMARY SEC (SGTOIL6)','UPPER PRIMARY WITH  SEC. (SGTOIL7)']]
toiletboys2014  = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (SBTOIL1)','PRIMARY WITH UPPER PRIMARY (SBTOIL2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SBTOIL3)','UPPER PRIMARY ONLY (SBTOIL4)','UPPER PRIMARY WITH SEC./H.SEC (SBTOIL5)','PRIMARY WITH UPPER PRIMARY SEC (SBTOIL6)','UPPER PRIMARY WITH  SEC. (SBTOIL7)']]

toiletgirls2014geo  = getSchoolGeo(toiletgirls2014,'Toilet_girls_2014_')
toiletboys2014geo   = getSchoolGeo(toiletboys2014,'Toilet_boys_2014_')

toiletwazi2014      =  getSchoolWazi(toiletgirls2014geo,toiletboys2014geo)
toiletwazi2014.insert(4,'schooltoilet',toiletwazi2014['schooltemp'].str.split('_').str[3].str.title())
toiletwazi2014.insert(5,'gender',toiletwazi2014['schooltemp'].str.split('_').str[1])
toiletwazi2014.insert(6,'year','2014')
toiletwazi2014df= toiletwazi2014.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
toiletwazi2014df.head()
#toiletwazi2014df.to_csv('data/schooltoilet_by_gender_2014.csv', index=False)

,geo_level,geo_code,geo_version,schooltoilet,gender,year,total
0,country,IN,2011,Primary Only,girls,2014,700661
1,country,IN,2011,Primary With Upper Primary,girls,2014,257416
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,girls,2014,36614
3,country,IN,2011,Upper Primary Only,girls,2014,124639
4,country,IN,2011,Upper Primary With Sec./H.Sec,girls,2014,35780

# Schools with basic facilities 2015

In [16]:
schoolbfac2015     = schooldata2015[['STATE NAME','DISTRICT NAME','TOTAL (SPLAYTOT)','TOTAL (SBNDRTOT)','TOTAL (SGTOILTOT)','TOTAL (SBTOILTOT)','TOTAL (SWATTOT)','TOTAL (SELETOT)','TOTAL (SCOMPTOT)']]
schoolbfac2015     = schoolbfac2015.rename(index=str, columns={'TOTAL (SPLAYTOT)': 'Playground (total)','TOTAL (SBNDRTOT)':'Boundarywall (Total)','TOTAL (SGTOILTOT)':'Girls toilet (total)','TOTAL (SBTOILTOT)':'Boys toilet (total)','TOTAL (SWATTOT)':'Drinking water (total)','TOTAL (SELETOT)':'Electricity (total)','TOTAL (SCOMPTOT)':'Computer (total)'})
schoolbfac2015geo  = getSchoolGeo(schoolbfac2015,'basic_facilities_2015_')
schoolbfac2015wazi = pd.melt(schoolbfac2015geo, id_vars=['geo_level', 'geo_code','name'], var_name='schooltemp', value_name="total")
schoolbfac2015wazi.insert(2,'geo_version','2011')
schoolbfac2015wazi['total']  = schoolbfac2015wazi['total'].astype(int)

schoolbfac2015wazi.insert(4,'schoolfacilities',schoolbfac2015wazi['schooltemp'].str.split('_').str[3].str.title())
schoolbfac2015wazi.insert(5,'year','2015')
schoolbfac2015wazidf = schoolbfac2015wazi.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
schoolbfac2015wazidf.head()
#schoolbfac2015wazidf.to_csv('data/schoolfacilities_2015.csv', index=False)

  geo_level geo_code geo_version schoolfacilities  year    total
0   country       IN        2011      Playground   2015   877416
1   country       IN        2011    Boundarywall   2015   924374
2   country       IN        2011    Girls Toilet   2015  1398928
3   country       IN        2011     Boys Toilet   2015  1377924
4   country       IN        2011  Drinking Water   2015  1401890

# Schools with basic facilities 2014

In [17]:
schoolbfac2014     = schooldata2014[['STATE NAME','DISTRICT NAME','TOTAL (SPLAYTOT)','TOTAL (SBNDRTOT)','TOTAL (SGTOILTOT)','TOTAL (SBTOILTOT)','TOTAL (SWATTOT)','TOTAL (SELETOT)','TOTAL (SCOMPTOT)']]
schoolbfac2014     = schoolbfac2014.rename(index=str, columns={'TOTAL (SPLAYTOT)': 'Playground (total)','TOTAL (SBNDRTOT)':'Boundarywall (Total)','TOTAL (SGTOILTOT)':'Girls toilet (total)','TOTAL (SBTOILTOT)':'Boys toilet (total)','TOTAL (SWATTOT)':'Drinking water (total)','TOTAL (SELETOT)':'Electricity (total)','TOTAL (SCOMPTOT)':'Computer (total)'})
schoolbfac2014geo  = getSchoolGeo(schoolbfac2014,'basic_facilities_2014_')
schoolbfac2014wazi = pd.melt(schoolbfac2014geo, id_vars=['geo_level', 'geo_code','name'], var_name='schooltemp', value_name="total")
schoolbfac2014wazi.insert(2,'geo_version','2011')
schoolbfac2014wazi['total']  = schoolbfac2014wazi['total'].astype(int)

schoolbfac2014wazi.insert(4,'schoolfacilities',schoolbfac2014wazi['schooltemp'].str.split('_').str[3].str.title())
schoolbfac2014wazi.insert(5,'year','2014')
schoolbfac2014wazidf = schoolbfac2014wazi.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
schoolbfac2014wazidf.head()
#schoolbfac2014wazidf.to_csv('data/schoolfacilities_2014.csv', index=False)

  geo_level geo_code geo_version schoolfacilities  year    total
0   country       IN        2011      Playground   2014   864304
1   country       IN        2011    Boundarywall   2014   914976
2   country       IN        2011    Girls Toilet   2014  1244023
3   country       IN        2011     Boys Toilet   2014  1350424
4   country       IN        2011  Drinking Water   2014  1388678

# Girls enrolment 2015

In [18]:
girlsenrol2015     = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (ENRG1)','PRIMARY WITH UPPER PRIMARY (ENRG2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENRG3)','UPPER PRIMARY ONLY (ENRG4)','UPPER PRIMARY WITH SEC./H.SEC (ENRG5)','PRIMARY WITH UPPER PRIMARY SEC (ENRG6)','UPPER PRIMARY WITH  SEC. (ENRG7)']]
girlsenrol2015geo  = getSchoolGeo(girlsenrol2015,'girlsenrolment_2015_')

girlsenrol2015wazi = pd.melt(girlsenrol2015geo, id_vars=['geo_level', 'geo_code','name'], var_name='schooltemp', value_name="total")
girlsenrol2015wazi.insert(2,'geo_version','2011')
girlsenrol2015wazi['total']  = girlsenrol2015wazi['total'].astype(int)
girlsenrol2015wazi.insert(4,'girlsenrolment',girlsenrol2015wazi['schooltemp'].str.split('_').str[2].str.title())
girlsenrol2015wazi.insert(5,'year','2015')

girlsenrol2015wazidf = girlsenrol2015wazi.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
girlsenrol2015wazidf.head()
#girlsenrol2015wazidf.to_csv('data/girlsenrolment_2015.csv', index=False)

,geo_level,geo_code,geo_version,girlsenrolment,year,total
0,country,IN,2011,Primary Only,2015,34392532
1,country,IN,2011,Primary With Upper Primary,2015,28374986
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,2015,7952191
3,country,IN,2011,Upper Primary Only,2015,7540610
4,country,IN,2011,Upper Primary With Sec./H.Sec,2015,5573166

# Girls enrolment 2014

In [19]:
girlsenrol2014     = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (ENRG1)','PRIMARY WITH UPPER PRIMARY (ENRG2)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENRG3)','UPPER PRIMARY ONLY (ENRG4)','UPPER PRIMARY WITH SEC./H.SEC (ENRG5)','PRIMARY WITH UPPER PRIMARY SEC (ENRG6)','UPPER PRIMARY WITH  SEC. (ENRG7)']]
girlsenrol2014geo  = getSchoolGeo(girlsenrol2014,'girlsenrolment_2014_')

girlsenrol2014wazi = pd.melt(girlsenrol2014geo, id_vars=['geo_level', 'geo_code','name'], var_name='schooltemp', value_name="total")
girlsenrol2014wazi.insert(2,'geo_version','2011')
girlsenrol2014wazi['total']  = girlsenrol2014wazi['total'].astype(int)
girlsenrol2014wazi.insert(4,'girlsenrolment',girlsenrol2014wazi['schooltemp'].str.split('_').str[2].str.title())
girlsenrol2014wazi.insert(5,'year','2014')

girlsenrol2014wazidf = girlsenrol2014wazi.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
girlsenrol2014wazidf.head()
#girlsenrol2014wazidf.to_csv('data/girlsenrolment_2014.csv', index=False)

,geo_level,geo_code,geo_version,girlsenrolment,year,total
0,country,IN,2011,Primary Only,2014,35927186
1,country,IN,2011,Primary With Upper Primary,2014,28058895
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,2014,7500607
3,country,IN,2011,Upper Primary Only,2014,7783013
4,country,IN,2011,Upper Primary With Sec./H.Sec,2014,5846002

# Classrooms conditions 2015

In [20]:
classroomConGood2015   = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TOTCLGD1G)','PRIMARY WITH UPPER PRIMARY (TOTCLGD2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TOTCLGD3G)','UPPER PRIMARY ONLY (TOTCLGD4G)','UPPER PRIMARY WITH SEC./H.SEC (TOTCLGD5G)','PRIMARY WITH UPPER PRIMARY SEC (TOTCLGD6G)','UPPER PRIMARY WITH  SEC. (TOTCLGD7G)']]
classroomConMinRep2015 = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TOTCLMI1G)','PRIMARY WITH UPPER PRIMARY (TOTCLMI2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TOTCLMI3G)','UPPER PRIMARY ONLY (TOTCLMI4G)','UPPER PRIMARY WITH SEC./H.SEC (TOTCLMI5G)','PRIMARY WITH UPPER PRIMARY SEC (TOTCLMI6G)','UPPER PRIMARY WITH  SEC. (TOTCLMI7G)']]
classroomConMajRep2015 = schooldata2015[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TOTCLMJ1G)','PRIMARY WITH UPPER PRIMARY (TOTCLMJ2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TOTCLMJ3G)','UPPER PRIMARY ONLY (TOTCLMJ4G)','UPPER PRIMARY WITH SEC./H.SEC (TOTCLMJ5G)','PRIMARY WITH UPPER PRIMARY SEC (TOTCLMJ6G)','UPPER PRIMARY WITH  SEC. (TOTCLMJ7G)']]

classroomConGood2015geo   = getSchoolGeo(classroomConGood2015,'classroom_Good_2015_')
classroomConMinRep2015geo = getSchoolGeo(classroomConMinRep2015,'classroom_Need minor repair_2015_')
classroomConMajRep2015geo = getSchoolGeo(classroomConMajRep2015,'classroom_Need major repair_2015_')

classroomCon2015com  = [classroomConGood2015geo,classroomConMinRep2015geo,classroomConMajRep2015geo]
classroomCon2015comgeo  = reduce(lambda left,right: pd.merge(left,right, on=['geo_level','geo_code','name']),classroomCon2015com)

classroomCon2015wazi = pd.melt(classroomCon2015comgeo, id_vars=['geo_level', 'geo_code','name'], var_name='schooltemp', value_name="total")

classroomCon2015wazi.insert(2,'geo_version','2011')
classroomCon2015wazi['total']  = classroomCon2015wazi['total'].astype(int)
classroomCon2015wazi.insert(4,'classroom',classroomCon2015wazi['schooltemp'].str.split('_').str[3].str.title())
classroomCon2015wazi.insert(5,'conditions',classroomCon2015wazi['schooltemp'].str.split('_').str[1].str.title())
classroomCon2015wazi.insert(6,'year','2015')

classroomCon2015wazidf = classroomCon2015wazi.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
classroomCon2015wazidf.head()
#classroomCon2015wazidf.to_csv('data/classroom_conditions_2015.csv', index=False)

,geo_level,geo_code,geo_version,classroom,conditions,year,total
0,country,IN,2011,Primary Only,Good,2015,2359171
1,country,IN,2011,Primary With Upper Primary,Good,2015,1821141
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Good,2015,495727
3,country,IN,2011,Upper Primary Only,Good,2015,476263
4,country,IN,2011,Upper Primary With Sec./H.Sec,Good,2015,226718

# Classrooms conditions 2014

In [21]:
classroomConGood2014   = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TOTCLGD1G)','PRIMARY WITH UPPER PRIMARY (TOTCLGD2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TOTCLGD3G)','UPPER PRIMARY ONLY (TOTCLGD4G)','UPPER PRIMARY WITH SEC./H.SEC (TOTCLGD5G)','PRIMARY WITH UPPER PRIMARY SEC (TOTCLGD6G)','UPPER PRIMARY WITH  SEC. (TOTCLGD7G)']]
classroomConMinRep2014 = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TOTCLMI1G)','PRIMARY WITH UPPER PRIMARY (TOTCLMI2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TOTCLMI3G)','UPPER PRIMARY ONLY (TOTCLMI4G)','UPPER PRIMARY WITH SEC./H.SEC (TOTCLMI5G)','PRIMARY WITH UPPER PRIMARY SEC (TOTCLMI6G)','UPPER PRIMARY WITH  SEC. (TOTCLMI7G)']]
classroomConMajRep2014 = schooldata2014[['STATE NAME','DISTRICT NAME','PRIMARY ONLY (TOTCLMJ1G)','PRIMARY WITH UPPER PRIMARY (TOTCLMJ2G)','PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TOTCLMJ3G)','UPPER PRIMARY ONLY (TOTCLMJ4G)','UPPER PRIMARY WITH SEC./H.SEC (TOTCLMJ5G)','PRIMARY WITH UPPER PRIMARY SEC (TOTCLMJ6G)','UPPER PRIMARY WITH  SEC. (TOTCLMJ7G)']]

classroomConGood2014geo   = getSchoolGeo(classroomConGood2014,'classroom_Good_2014_')
classroomConMinRep2014geo = getSchoolGeo(classroomConMinRep2014,'classroom_Need minor repair_2014_')
classroomConMajRep2014geo = getSchoolGeo(classroomConMajRep2014,'classroom_Need major repair_2014_')

classroomCon2014com  = [classroomConGood2014geo,classroomConMinRep2014geo,classroomConMajRep2014geo]
classroomCon2014comgeo  = reduce(lambda left,right: pd.merge(left,right, on=['geo_level','geo_code','name']),classroomCon2014com)

classroomCon2014wazi = pd.melt(classroomCon2014comgeo, id_vars=['geo_level', 'geo_code','name'], var_name='schooltemp', value_name="total")

classroomCon2014wazi.insert(2,'geo_version','2011')
classroomCon2014wazi['total']  = classroomCon2014wazi['total'].astype(int)
classroomCon2014wazi.insert(4,'classroom',classroomCon2014wazi['schooltemp'].str.split('_').str[3].str.title())
classroomCon2014wazi.insert(5,'conditions',classroomCon2014wazi['schooltemp'].str.split('_').str[1].str.title())
classroomCon2014wazi.insert(6,'year','2014')

classroomCon2014wazidf = classroomCon2014wazi.sort_values(by=['geo_level','name']).reset_index().drop(['index'],axis=1).drop(['name'],axis=1).drop(['schooltemp'],axis=1)
classroomCon2014wazidf.head()
#classroomCon2014wazidf.to_csv('data/classroom_conditions_2014.csv', index=False)

,geo_level,geo_code,geo_version,classroom,conditions,year,total
0,country,IN,2011,Primary Only,Good,2014,2372586
1,country,IN,2011,Primary With Upper Primary,Good,2014,1765117
2,country,IN,2011,Primary With Upper Primary Sec/H.Sec,Good,2014,492644
3,country,IN,2011,Upper Primary Only,Good,2014,471894
4,country,IN,2011,Upper Primary With Sec./H.Sec,Good,2014,236702

In [22]:
list(dataSchoolCom.columns.values)

['Unnamed: 0',
 'YEAR',
 'STATE NAME',
 'DISTRICT NAME',
 'TOTAL POULATION',
 'PERCENTAGE URBAN POPULATION',
 '0-6 POPULATION',
 'GROWTH RATE',
 'SEX RATIO',
 'PERCENTAGE SC POPULATION',
 'PERCENTAGE ST POPULATION',
 'OVERALL LITERACY',
 'FEMALE LITERACY',
 'MALE LITERACY',
 'AREA (SQ. KM) (AREA SQKM)',
 'AGE GROUP 6 TO 10 (TOT 6 10 15)',
 'AGE GROUP 11 TO 13 (TOT 11 13 15)',
 'PRIMARY ONLY (SCH1)',
 'PRIMARY WITH UPPER PRIMARY (SCH2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3)',
 'UPPER PRIMARY ONLY (SCH4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCH5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCH6)',
 'UPPER PRIMARY WITH  SEC. (SCH7)',
 'NO RESPONSE (SCH9)',
 'TOTAL (SCHTOT)',
 'PRIMARY ONLY (SCH1G)',
 'PRIMARY WITH UPPER PRIMARY (SCH2G)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3G)',
 'UPPER PRIMARY ONLY (SCH4G)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCH5G)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCH6G)',
 'UPPER PRIMARY WITH  SEC. (SCH7G)',
 'NO RESPONSE (SCH9G)',
 'TOTAL (SCHTOTG)',
 'PRIMARY ONLY (SCH1P)',
 'PRIMARY WITH UPPER PRIMARY (SCH2P)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3P)',
 'UPPER PRIMARY ONLY (SCH4P)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCH5P)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCH6P)',
 'UPPER PRIMARY WITH  SEC. (SCH7P)',
 'NO RESPONSE (SCH9P)',
 'TOTAL (SCHTOTP)',
 'PRIMARY ONLY (SCH1M)',
 'PRIMARY WITH UPPER PRIMARY (SCH2M)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3M)',
 'UPPER PRIMARY ONLY (SCH4M)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCH5M)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCH6M)',
 'UPPER PRIMARY WITH  SEC. (SCH7M)',
 'NO RESPONSE (SCH9M)',
 'TOTAL (SCHTOTM)',
 'PRIMARY ONLY (SCH1GR)',
 'PRIMARY WITH UPPER PRIMARY (SCH2GR)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3GR)',
 'UPPER PRIMARY ONLY (SCH4GR)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCH5GR)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCH6GR)',
 'UPPER PRIMARY WITH  SEC. (SCH7GR)',
 'NO RESPONSE (SCH9GR)',
 'TOTAL (SCHTOTGR)',
 'PRIMARY ONLY (SCH1GA)',
 'PRIMARY WITH UPPER PRIMARY (SCH2GA)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3GA)',
 'UPPER PRIMARY ONLY (SCH4GA)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCH5GA)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCH6GA)',
 'UPPER PRIMARY WITH  SEC. (SCH7GA)',
 'NO RESPONSE (SCH9GA)',
 'TOTAL (SCHTOTGA)',
 'PRIMARY ONLY (SCH1PR)',
 'PRIMARY WITH UPPER PRIMARY (SCH2PR)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCH3PR)',
 'UPPER PRIMARY ONLY (SCH4PR)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCH5PR)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCH6PR)',
 'UPPER PRIMARY WITH  SEC. (SCH7PR)',
 'NO RESPONSE (SCH9PR)',
 'TOTAL (SCHTOTPR)',
 'PRIMARY ONLY (SCHBOY1)',
 'PRIMARY WITH UPPER PRIMARY (SCHBOY2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCHBOY3)',
 'UPPER PRIMARY ONLY (SCHBOY4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCHBOY5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCHBOY6)',
 'UPPER PRIMARY WITH  SEC. (SCHBOY7)',
 'NO RESPONSE (SCHBOY9)',
 'TOTAL (SCHBOYTOT)',
 'PRIMARY ONLY (SCHGIR1)',
 'PRIMARY WITH UPPER PRIMARY (SCHGIR2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCHGIR3)',
 'UPPER PRIMARY ONLY (SCHGIR4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCHGIR5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCHGIR6)',
 'UPPER PRIMARY WITH  SEC. (SCHGIR7)',
 'NO RESPONSE (SCHGIR9)',
 'TOTAL (SCHGIRTOT)',
 'PRIMARY ONLY (ENR1)',
 'PRIMARY WITH UPPER PRIMARY (ENR2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3)',
 'UPPER PRIMARY ONLY (ENR4)',
 'UPPER PRIMARY WITH SEC./H.SEC (ENR5)',
 'PRIMARY WITH UPPER PRIMARY SEC (ENR6)',
 'UPPER PRIMARY WITH  SEC. (ENR7)',
 'NO RESPONSE (ENR9)',
 'TOTAL (ENRTOT)',
 'PRIMARY ONLY (ENR1G)',
 'PRIMARY WITH UPPER PRIMARY (ENR2G)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3G)',
 'UPPER PRIMARY ONLY (ENR4G)',
 'UPPER PRIMARY WITH SEC./H.SEC (ENR5G)',
 'PRIMARY WITH UPPER PRIMARY SEC (ENR6G)',
 'UPPER PRIMARY WITH  SEC. (ENR7G)',
 'NO RESPONSE (ENR9G)',
 'TOTAL (ENRTOTG)',
 'PRIMARY ONLY (ENR1P)',
 'PRIMARY WITH UPPER PRIMARY (ENR2P)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3P)',
 'UPPER PRIMARY ONLY (ENR4P)',
 'UPPER PRIMARY WITH SEC./H.SEC (ENR5P)',
 'PRIMARY WITH UPPER PRIMARY SEC (ENR6P)',
 'UPPER PRIMARY WITH  SEC. (ENR7P)',
 'NO RESPONSE (ENR9P)',
 'TOTAL (ENRTOTP)',
 'PRIMARY ONLY (ENR1M)',
 'PRIMARY WITH UPPER PRIMARY (ENR2M)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3M)',
 'UPPER PRIMARY ONLY (ENR4M)',
 'UPPER PRIMARY WITH SEC./H.SEC (ENR5M)',
 'PRIMARY WITH UPPER PRIMARY SEC (ENR6M)',
 'UPPER PRIMARY WITH  SEC. (ENR7M)',
 'NO RESPONSE (ENR9M)',
 'TOTAL (ENRTOTM)',
 'PRIMARY ONLY (ENR1GR)',
 'PRIMARY WITH UPPER PRIMARY (ENR2GR)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3GR)',
 'UPPER PRIMARY ONLY (ENR4GR)',
 'UPPER PRIMARY WITH SEC./H.SEC (ENR5GR)',
 'PRIMARY WITH UPPER PRIMARY SEC (ENR6GR)',
 'UPPER PRIMARY WITH  SEC. (ENR7GR)',
 'NO RESPONSE (ENR9GR)',
 'TOTAL (ENRTOTGR)',
 'PRIMARY ONLY (ENR1PR)',
 'PRIMARY WITH UPPER PRIMARY (ENR2PR)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR3PR)',
 'UPPER PRIMARY ONLY (ENR4PR)',
 'UPPER PRIMARY WITH SEC./H.SEC (ENR5PR)',
 'PRIMARY WITH UPPER PRIMARY SEC (ENR6PR)',
 'UPPER PRIMARY WITH  SEC. (ENR7PR)',
 'NO RESPONSE (ENR9PR)',
 'TOTAL (ENRTOTPR)',
 'PRIMARY ONLY (TCH1G)',
 'PRIMARY WITH UPPER PRIMARY (TCH2G)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH3G)',
 'UPPER PRIMARY ONLY (TCH4G)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCH5G)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCH6G)',
 'UPPER PRIMARY WITH  SEC. (TCH7G)',
 'NO RESPONSE (TCH9G)',
 'TOTAL (TCHTOTG)',
 'PRIMARY ONLY (TCH1P)',
 'PRIMARY WITH UPPER PRIMARY (TCH2P)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH3P)',
 'UPPER PRIMARY ONLY (TCH4P)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCH5P)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCH6P)',
 'UPPER PRIMARY WITH  SEC. (TCH7P)',
 'NO RESPONSE (TCH9P)',
 'TOTAL (TCHTOTP)',
 'PRIMARY ONLY (TCH1M)',
 'PRIMARY WITH UPPER PRIMARY (TCH2M)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH3M)',
 'UPPER PRIMARY ONLY (TCH4M)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCH5M)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCH6M)',
 'UPPER PRIMARY WITH  SEC. (TCH7M)',
 'NO RESPONSE (TCH9M)',
 'TOTAL (TCHTOTM)',
 'PRIMARY ONLY (SCLS1)',
 'PRIMARY WITH UPPER PRIMARY (SCLS2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCLS3)',
 'UPPER PRIMARY ONLY (SCLS4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCLS5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCLS6)',
 'UPPER PRIMARY WITH  SEC. (SCLS7)',
 'TOTAL (SCLSTOT)',
 'PRIMARY ONLY (STCH1)',
 'PRIMARY WITH UPPER PRIMARY (STCH2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (STCH3)',
 'UPPER PRIMARY ONLY (STCH4)',
 'UPPER PRIMARY WITH SEC./H.SEC (STCH5)',
 'PRIMARY WITH UPPER PRIMARY SEC (STCH6)',
 'UPPER PRIMARY WITH  SEC. (STCH7)',
 'TOTAL (STCHTOT)',
 'PRIMARY ONLY (ROAD1)',
 'PRIMARY WITH UPPER PRIMARY (ROAD2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ROAD3)',
 'UPPER PRIMARY ONLY (ROAD4)',
 'UPPER PRIMARY WITH SEC./H.SEC (ROAD5)',
 'PRIMARY WITH UPPER PRIMARY SEC (ROAD6)',
 'UPPER PRIMARY WITH  SEC. (ROAD7)',
 'TOTAL (ROADTOT)',
 'PRIMARY ONLY (SPLAY1)',
 'PRIMARY WITH UPPER PRIMARY (SPLAY2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SPLAY3)',
 'UPPER PRIMARY ONLY (SPLAY4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SPLAY5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SPLAY6)',
 'UPPER PRIMARY WITH  SEC. (SPLAY7)',
 'TOTAL (SPLAYTOT)',
 'PRIMARY ONLY (SBNDR1)',
 'PRIMARY WITH UPPER PRIMARY (SBNDR2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SBNDR3)',
 'UPPER PRIMARY ONLY (SBNDR4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SBNDR5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SBNDR6)',
 'UPPER PRIMARY WITH  SEC. (SBNDR7)',
 'TOTAL (SBNDRTOT)',
 'PRIMARY ONLY (SGTOIL1)',
 'PRIMARY WITH UPPER PRIMARY (SGTOIL2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SGTOIL3)',
 'UPPER PRIMARY ONLY (SGTOIL4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SGTOIL5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SGTOIL6)',
 'UPPER PRIMARY WITH  SEC. (SGTOIL7)',
 'TOTAL (SGTOILTOT)',
 'PRIMARY ONLY (SBTOIL1)',
 'PRIMARY WITH UPPER PRIMARY (SBTOIL2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SBTOIL3)',
 'UPPER PRIMARY ONLY (SBTOIL4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SBTOIL5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SBTOIL6)',
 'UPPER PRIMARY WITH  SEC. (SBTOIL7)',
 'TOTAL (SBTOILTOT)',
 'PRIMARY ONLY (SWAT1)',
 'PRIMARY WITH UPPER PRIMARY (SWAT2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SWAT3)',
 'UPPER PRIMARY ONLY (SWAT4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SWAT5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SWAT6)',
 'UPPER PRIMARY WITH  SEC. (SWAT7)',
 'TOTAL (SWATTOT)',
 'PRIMARY ONLY (SELE1)',
 'PRIMARY WITH UPPER PRIMARY (SELE2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SELE3)',
 'UPPER PRIMARY ONLY (SELE4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SELE5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SELE6)',
 'UPPER PRIMARY WITH  SEC. (SELE7)',
 'TOTAL (SELETOT)',
 'PRIMARY ONLY (SCOMP1)',
 'PRIMARY WITH UPPER PRIMARY (SCOMP2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SCOMP3)',
 'UPPER PRIMARY ONLY (SCOMP4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SCOMP5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SCOMP6)',
 'UPPER PRIMARY WITH  SEC. (SCOMP7)',
 'TOTAL (SCOMPTOT)',
 'PRIMARY ONLY (SRAM1)',
 'PRIMARY WITH UPPER PRIMARY (SRAM2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SRAM3)',
 'UPPER PRIMARY ONLY (SRAM4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SRAM5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SRAM6)',
 'UPPER PRIMARY WITH  SEC. (SRAM7)',
 'TOTAL (SRAMTOT)',
 'PRIMARY ONLY (SRAMN1)',
 'PRIMARY WITH UPPER PRIMARY (SRAMN2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SRAMN3)',
 'UPPER PRIMARY ONLY (SRAMN4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SRAMN5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SRAMN6)',
 'UPPER PRIMARY WITH  SEC. (SRAMN7)',
 'TOTAL (SRAMNTOT)',
 'PRIMARY ONLY (ESTD1)',
 'PRIMARY WITH UPPER PRIMARY (ESTD2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ESTD3)',
 'UPPER PRIMARY ONLY (ESTD4)',
 'UPPER PRIMARY WITH SEC./H.SEC (ESTD5)',
 'PRIMARY WITH UPPER PRIMARY SEC (ESTD6)',
 'UPPER PRIMARY WITH  SEC. (ESTD7)',
 'TOTAL (ESTDTOT)',
 'PRIMARY ONLY (MDM1)',
 'PRIMARY WITH UPPER PRIMARY (MDM2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (MDM3)',
 'UPPER PRIMARY ONLY (MDM4)',
 'UPPER PRIMARY WITH SEC./H.SEC (MDM5)',
 'PRIMARY WITH UPPER PRIMARY SEC (MDM6)',
 'UPPER PRIMARY WITH  SEC. (MDM7)',
 'TOTAL (MDMTOT)',
 'PRIMARY ONLY (KIT1)',
 'PRIMARY WITH UPPER PRIMARY (KIT2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (KIT3)',
 'UPPER PRIMARY ONLY (KIT4)',
 'UPPER PRIMARY WITH SEC./H.SEC (KIT5)',
 'PRIMARY WITH UPPER PRIMARY SEC (KIT6)',
 'UPPER PRIMARY WITH  SEC. (KIT7)',
 'TOTAL (KITTOT)',
 'PRIMARY ONLY (KITS1)',
 'PRIMARY WITH UPPER PRIMARY (KITS2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (KITS3)',
 'UPPER PRIMARY ONLY (KITS4)',
 'UPPER PRIMARY WITH SEC./H.SEC (KITS5)',
 'PRIMARY WITH UPPER PRIMARY SEC (KITS6)',
 'UPPER PRIMARY WITH  SEC. (KITS7)',
 'TOTAL (KITSTOT)',
 'PRIMARY ONLY (ENR501)',
 'PRIMARY WITH UPPER PRIMARY (ENR502)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENR503)',
 'UPPER PRIMARY ONLY (ENR504)',
 'UPPER PRIMARY WITH SEC./H.SEC (ENR505)',
 'PRIMARY WITH UPPER PRIMARY SEC (ENR506)',
 'UPPER PRIMARY WITH  SEC. (ENR507)',
 'NO RESPONSE (ENR509)',
 'TOTAL (ENR50TOT)',
 'PRIMARY ONLY (SMC1)',
 'PRIMARY WITH UPPER PRIMARY (SMC2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (SMC3)',
 'UPPER PRIMARY ONLY (SMC4)',
 'UPPER PRIMARY WITH SEC./H.SEC (SMC5)',
 'PRIMARY WITH UPPER PRIMARY SEC (SMC6)',
 'UPPER PRIMARY WITH  SEC. (SMC7)',
 'TOTAL (SMCTOT)',
 'PRIMARY ONLY (CLS1)',
 'PRIMARY WITH UPPER PRIMARY (CLS2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (CLS3)',
 'UPPER PRIMARY ONLY (CLS4)',
 'UPPER PRIMARY WITH SEC./H.SEC (CLS5)',
 'PRIMARY WITH UPPER PRIMARY SEC (CLS6)',
 'UPPER PRIMARY WITH  SEC. (CLS7)',
 'TOTAL (CLSTOT)',
 'PRIMARY ONLY (TCH1)',
 'PRIMARY WITH UPPER PRIMARY (TCH2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH3)',
 'UPPER PRIMARY ONLY (TCH4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCH5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCH6)',
 'UPPER PRIMARY WITH  SEC. (TCH7)',
 'TOTAL (TCHTOT)',
 'PRIMARY ONLY (TCHF1)',
 'PRIMARY WITH UPPER PRIMARY (TCHF2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHF3)',
 'UPPER PRIMARY ONLY (TCHF4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCHF5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCHF6)',
 'UPPER PRIMARY WITH  SEC. (TCHF7)',
 'TOTAL (TCHFTOT)',
 'PRIMARY ONLY (TCHM1)',
 'PRIMARY WITH UPPER PRIMARY (TCHM2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHM3)',
 'UPPER PRIMARY ONLY (TCHM4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCHM5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCHM6)',
 'UPPER PRIMARY WITH  SEC. (TCHM7)',
 'NO RESPONSE (TCHM9)',
 'PRIMARY ONLY (ENRG1)',
 'PRIMARY WITH UPPER PRIMARY (ENRG2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (ENRG3)',
 'UPPER PRIMARY ONLY (ENRG4)',
 'UPPER PRIMARY WITH SEC./H.SEC (ENRG5)',
 'PRIMARY WITH UPPER PRIMARY SEC (ENRG6)',
 'UPPER PRIMARY WITH  SEC. (ENRG7)',
 'TOTAL (ENRGTOT)',
 'TOTAL SCHOOLS (PREP)',
 'TOTAL STUDENTS (PRESTD)',
 'TEACHERS WITH PROFESSIONAL QUALIFICATION : FEMALE  (PPFTCH)',
 'TEACHERS WITH PROFESSIONAL QUALIFICATION : MALE  (PPMTCH)',
 'TOTAL  TEACHERS: MALE  (PMTCH)',
 'TOTAL  TEACHERS: FEMALE  (PFTCH)',
 'PRIMARY ONLY (TCHSCM1)',
 'PRIMARY WITH UPPER PRIMARY (TCHSCM2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHSCM3)',
 'UPPER PRIMARY ONLY (TCHSCM4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCHSCM5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCHSCM6)',
 'UPPER PRIMARY WITH  SEC. (TCHSCM7)',
 'PRIMARY ONLY (TCHSCF1)',
 'PRIMARY WITH UPPER PRIMARY (TCHSCF2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHSCF3)',
 'UPPER PRIMARY ONLY (TCHSCF4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCHSCF5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCHSCF6)',
 'UPPER PRIMARY WITH  SEC. (TCHSCF7)',
 'PRIMARY ONLY (TCHSTM1)',
 'PRIMARY WITH UPPER PRIMARY (TCHSTM2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHSTM3)',
 'UPPER PRIMARY ONLY (TCHSTM4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCHSTM5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCHSTM6)',
 'UPPER PRIMARY WITH  SEC. (TCHSTM7)',
 'PRIMARY ONLY (TCHSTF1)',
 'PRIMARY WITH UPPER PRIMARY (TCHSTF2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHSTF3)',
 'UPPER PRIMARY ONLY (TCHSTF4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCHSTF5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCHSTF6)',
 'UPPER PRIMARY WITH  SEC. (TCHSTF7)',
 'PRIMARY ONLY (TCHOBCM1)',
 'PRIMARY WITH UPPER PRIMARY (TCHOBCM2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHOBCM3)',
 'UPPER PRIMARY ONLY (TCHOBCM4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCHOBCM5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCHOBCM6)',
 'UPPER PRIMARY WITH  SEC. (TCHOBCM7)',
 'PRIMARY ONLY (TCHOBCF1)',
 'PRIMARY WITH UPPER PRIMARY (TCHOBCF2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCHOBCF3)',
 'UPPER PRIMARY ONLY (TCHOBCF4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCHOBCF5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCHOBCF6)',
 'UPPER PRIMARY WITH  SEC. (TCHOBCF7)',
 'PRIMARY ONLY (TCH TRNRM1)',
 'PRIMARY WITH UPPER PRIMARY (TCH TRNRM2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH TRNRM3)',
 'UPPER PRIMARY ONLY (TCH TRNRM4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCH TRNRM5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCH TRNRM6)',
 'UPPER PRIMARY WITH  SEC. (TCH TRNRM7)',
 'PRIMARY ONLY (TCH TRNRF1)',
 'PRIMARY WITH UPPER PRIMARY (TCH TRNRF2)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TCH TRNRF3)',
 'UPPER PRIMARY ONLY (TCH TRNRF4)',
 'UPPER PRIMARY WITH SEC./H.SEC (TCH TRNRF5)',
 'PRIMARY WITH UPPER PRIMARY SEC (TCH TRNRF6)',
 'UPPER PRIMARY WITH  SEC. (TCH TRNRF7)',
 'REGULAR TEACHERS WITH PROFESSIONAL QUALIFICATION : MALE  (PGRMTCH)',
 'REGULAR TEACHERS WITH PROFESSIONAL QUALIFICATION : FEMALE  (PGRFTCH)',
 'TOTAL REGULAR TEACHERS: MALE  (GRMTCH)',
 'TOTAL REGULAR TEACHERS: FEMALE  (GRFTCH)',
 'CONTRACTUAL TEACHERS WITH PROFESSIONAL QUALIFICATION : MALE  (PGCMTCH)',
 'CONTRACTUAL  TEACHERS WITH PROFESSIONAL QUALIFICATION : FEMALE  (PGCFTCH)',
 'TOTAL CONTRACTUAL  TEACHERS: MALE  (PCMTCH)',
 'TOTAL CONTRACTUAL  TEACHERS: FEMALE  (PCFTCH)',
 'GRADE 1 (C1 B)',
 'GRADE 2 (C2 B)',
 'GRADE 3 (C3 B)',
 'GRADE 4 (C4 B)',
 'GRADE 5 (C5 B)',
 'GRADE 6 (C6 B)',
 'GRADE 7 (C7 B)',
 'GRADE 8 (C8 B)',
 'GRADE 9 (C9 B)',
 'GRADE 1 (C1 G)',
 'GRADE 2 (C2 G)',
 'GRADE 3 (C3 G)',
 'GRADE 4 (C4 G)',
 'GRADE 5 (C5 G)',
 'GRADE 6 (C6 G)',
 'GRADE 7 (C7 G)',
 'GRADE 8 (C8 G)',
 'GRADE 9 (C9 G)',
 '(C15A)',
 '(C68A)',
 'GRADE 1 (C1 BD)',
 'GRADE 2 (C2 BD)',
 'GRADE 3 (C3 BD)',
 'GRADE 4 (C4 BD)',
 'GRADE 5 (C5 BD)',
 'GRADE 6 (C6 BD)',
 'GRADE 7 (C7 BD)',
 'GRADE 8 (C8 BD)',
 'GRADE 1 (C1 GD)',
 'GRADE 2 (C2 GD)',
 'GRADE 3 (C3 GD)',
 'GRADE 4 (C4 GD)',
 'GRADE 5 (C5 GD)',
 'GRADE 6 (C6 GD)',
 'GRADE 7 (C7 GD)',
 'GRADE 8 (C8 GD)',
 'GRADE 1 (C1 BR)',
 'GRADE 2 (C2 BR)',
 'GRADE 3 (C3 BR)',
 'GRADE 4 (C4 BR)',
 'GRADE 5 (C5 BR)',
 'GRADE 6 (C6 BR)',
 'GRADE 7 (C7 BR)',
 'GRADE 8 (C8 BR)',
 'GRADE 9 (C9 BR)',
 'GRADE 1 (C1 GR)',
 'GRADE 2 (C2 GR)',
 'GRADE 3 (C3 GR)',
 'GRADE 4 (C4 GR)',
 'GRADE 5 (C5 GR)',
 'GRADE 6 (C6 GR)',
 'GRADE 7 (C7 GR)',
 'GRADE 8 (C8 GR)',
 'GRADE 9 (C9 GR)',
 'TOTAL (SCPTOT)',
 'GIRLS (SCPTOT G)',
 'TOTAL (SCUTOT)',
 'GIRLS (SCUTOT G)',
 'TOTAL (STPTOT)',
 'GIRLS (STPTOT G)',
 'TOTAL (STUTOT)',
 'GIRLS (STUTOT G)',
 'TOTAL (OBPTOT)',
 'GIRLS (OBUTOT)',
 'TOTAL (OBPTOT G)',
 'GIRLS (OBUTOT G)',
 'TOTAL (MUPTOT)',
 'GIRLS (MUUTOT)',
 'TOTAL (MUPTOT G)',
 'GIRLS (MUUTOT G)',
 'BLIND (BLC1)',
 'LOW VISION (LVC1)',
 'HEARING IMPAIRMENT (HEC1)',
 'SPEECH IMPAIRMENT (SPC1)',
 'LOCOMOTOR IMPAIRMENT (LOC1)',
 'MENTAL RETARDATION (MEC1)',
 'LEARNING DISABILITY (LEC1)',
 'CEREBRAL PALSY (CPC1)',
 'AUTISM (AUC1)',
 'MULTIPLE (MUC1)',
 'BLIND (BLC2)',
 'LOW VISION (LVC2)',
 'HEARING IMPAIRMENT (HEC2)',
 'SPEECH IMPAIRMENT (SPC2)',
 'LOCOMOTOR IMPAIRMENT (LOC2)',
 'MENTAL RETARDATION (MEC2)',
 'LEARNING DISABILITY (LEC2)',
 'CEREBRAL PALSY (CPC2)',
 'AUTISM (AUC2)',
 'MULTIPLE (MUC2)',
 'BLIND (BLC3)',
 'LOW VISION (LVC3)',
 'HEARING IMPAIRMENT (HEC3)',
 'SPEECH IMPAIRMENT (SPC3)',
 'LOCOMOTOR IMPAIRMENT (LOC3)',
 'MENTAL RETARDATION (MEC3)',
 'LEARNING DISABILITY (LEC3)',
 'CEREBRAL PALSY (CPC3)',
 'AUTISM (AUC3)',
 'MULTIPLE (MUC3)',
 'BLIND (BLC4)',
 'LOW VISION (LVC4)',
 'HEARING IMPAIRMENT (HEC4)',
 'SPEECH IMPAIRMENT (SPC4)',
 'LOCOMOTOR IMPAIRMENT (LOC4)',
 'MENTAL RETARDATION (MEC4)',
 'LEARNING DISABILITY (LEC4)',
 'CEREBRAL PALSY (CPC4)',
 'AUTISM (AUC4)',
 'MULTIPLE (MUC4)',
 'BLIND (BLC5)',
 'LOW VISION (LVC5)',
 'HEARING IMPAIRMENT (HEC5)',
 'SPEECH IMPAIRMENT (SPC5)',
 'LOCOMOTOR IMPAIRMENT (LOC5)',
 'MENTAL RETARDATION (MEC5)',
 'LEARNING DISABILITY (LEC5)',
 'CEREBRAL PALSY (CPC5)',
 'AUTISM (AUC5)',
 'MULTIPLE (MUC5)',
 'BLIND (BLC6)',
 'LOW VISION (LVC6)',
 'HEARING IMPAIRMENT (HEC6)',
 'SPEECH IMPAIRMENT (SPC6)',
 'LOCOMOTOR IMPAIRMENT (LOC6)',
 'MENTAL RETARDATION (MEC6)',
 'LEARNING DISABILITY (LEC6)',
 'CEREBRAL PALSY (CPC6)',
 'AUTISM (AUC6)',
 'MULTIPLE (MUC6)',
 'BLIND (BLC7)',
 'LOW VISION (LVC7)',
 'HEARING IMPAIRMENT (HEC7)',
 'SPEECH IMPAIRMENT (SPC7)',
 'LOCOMOTOR IMPAIRMENT (LOC7)',
 'MENTAL RETARDATION (MEC7)',
 'LEARNING DISABILITY (LEC7)',
 'CEREBRAL PALSY (CPC7)',
 'AUTISM (AUC7)',
 'MULTIPLE (MUC7)',
 'BLIND (BLC8)',
 'LOW VISION (LVC8)',
 'HEARING IMPAIRMENT (HEC8)',
 'SPEECH IMPAIRMENT (SPC8)',
 'LOCOMOTOR IMPAIRMENT (LOC8)',
 'MENTAL RETARDATION (MEC8)',
 'LEARNING DISABILITY (LEC8)',
 'CEREBRAL PALSY (CPC8)',
 'AUTISM (AUC8)',
 'MULTIPLE (MUC8)',
 'PRIMARY ONLY (TOTCLGD1G)',
 'PRIMARY WITH UPPER PRIMARY (TOTCLGD2G)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TOTCLGD3G)',
 'UPPER PRIMARY ONLY (TOTCLGD4G)',
 'UPPER PRIMARY WITH SEC./H.SEC (TOTCLGD5G)',
 'PRIMARY WITH UPPER PRIMARY SEC (TOTCLGD6G)',
 'UPPER PRIMARY WITH  SEC. (TOTCLGD7G)',
 'PRIMARY ONLY (TOTCLMI1G)',
 'PRIMARY WITH UPPER PRIMARY (TOTCLMI2G)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TOTCLMI3G)',
 'UPPER PRIMARY ONLY (TOTCLMI4G)',
 'UPPER PRIMARY WITH SEC./H.SEC (TOTCLMI5G)',
 'PRIMARY WITH UPPER PRIMARY SEC (TOTCLMI6G)',
 'UPPER PRIMARY WITH  SEC. (TOTCLMI7G)',
 'PRIMARY ONLY (TOTCLMJ1G)',
 'PRIMARY WITH UPPER PRIMARY (TOTCLMJ2G)',
 'PRIMARY WITH UPPER PRIMARY SEC/H.SEC (TOTCLMJ3G)',
 'UPPER PRIMARY ONLY (TOTCLMJ4G)',
 'UPPER PRIMARY WITH SEC./H.SEC (TOTCLMJ5G)',
 'PRIMARY WITH UPPER PRIMARY SEC (TOTCLMJ6G)',
 'UPPER PRIMARY WITH  SEC. (TOTCLMJ7G)',
 '(TOTCLOT1G)',